# SERVER
server/node_modules

# MOBILE
mobile/RainbowPages/node_modules
mobile/RainbowPages/.expo/*
mobile/RainbowPages/npm-debug.*
mobile/RainbowPages/*.jks
mobile/RainbowPages/*.p8
mobile/RainbowPages/*.p12
mobile/RainbowPages/*.key
mobile/RainbowPages/*.mobileprovision
mobile/RainbowPages/*.orig.*
mobile/RainbowPages/web-build/

# WEB
web/node_modules
web/.pnp
web/.pnp.js
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/build
web/coverage
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*